* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-break: keep-all;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  /*header*/
  header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 10;
  }
  header h1 img {
    width: 60%;
    padding: 0px 10px 20px;
  }
  header .pcmenu_f {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header .pcmenu_f ul {
    display: none;
  }
  /* header .pcmenu_f li {
    width: calc(100% / 4);
    font-weight: bold;
  } */
  header .bar {
    width: 100px;
    height: 100px;
    position: relative;
  }

  header .bar .f_bar {
    width: 60px;
    height: 70px;
    font-size: 30px;

    background-color: blueviolet;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
  }
  header .bar .f_bar,
  header .bar .b_bar {
    width: 60px;
    height: 70px;
    font-size: 30px;
    background-color: blueviolet;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
  }
  header .bar .f_bar {
    opacity: 1;
    transform: rotate(0deg);
  }

  header .bar .b_bar {
    opacity: 0;
    transform: rotate(-90deg);
  }
  header .bar i {
    color: #fff;
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
  }
  header .bar .f_bar i {
    opacity: 1;
    transform: rotate(0deg);
  }

  header .bar .b_bar i {
    opacity: 0;
    transform: rotate(-90deg);
  }
  header.on .momenu_b {
    right: 0;
  }
  /*ul이 아닌 부모자체에 position*/
  /* header .pcmenu_b {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
  } */
  header .pcmenu_b ul {
    /* background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: center; */
    display: none;
  }
  /* header .pcmenu_b li {
    width: 10%;
    font-weight: bold;
  } */
  /* header .pcmenu_b li p {
    margin-bottom: 20px;
  } */
  header .momenu_f {
    display: none;
  }
  header .momenu_b {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9;
    transition: right 0.5s ease;
  }
  header.on .momenu_b {
    right: 0;
  }
  header .momenu_b li {
    margin: 30px 10px;
  }
  header .momenu_b li p:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: bold;
  }
  header .momenu_b p {
    margin-top: 20px;
  }
  header .momenu_b img {
    width: 40%;
    padding-left: 10px;
  }
  header .momenu_b div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .momenu_b .b_bar {
    width: 60px;
    height: 65px;
    font-size: 30px;
    color: #fff;
    background-color: blueviolet;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
  }
  /*#visual*/
  #visual {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #visual .v_txt {
    position: absolute;
    left: 10%;
    bottom: 20%;
  }
  #visual .v_txt h2 {
    font-size: 2.5rem;
    color: blueviolet;
    margin-bottom: 20px;
  }
  #visual .v_txt p {
    font-size: 1rem;
    color: #fff;
    line-height: 35px;
  }
  /*#container #con01*/
  #container #con01 {
    width: 100%;
    margin: 30px 0;
  }
  #container #con01 ul {
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
  }
  #container #con01 ul li {
    width: 100%;
  }
  #container #con01 ul li:nth-of-type(1) {
    margin-bottom: 20px;
  }
  #container #con01 ul li p:nth-of-type(1) {
    margin-left: 30px;
  }
  #container #con01 ul li .club01 {
    margin-left: 30px;
  }
  #container #con01 ul li .club02 {
    margin-left: 30px;
  }
  #container #con01 ul li p:nth-of-type(3) {
    margin-left: 30px;
  }
  #container #con01 ul li {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con01 ul li img {
    width: 90%;
    display: block;
    object-fit: cover;
    margin: 0px auto;
  }

  #container #con01.on ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con01 ul li:nth-of-type(1) {
    transition-delay: 0.2s;
  }

  #container #con01 ul li:nth-of-type(2) {
    transition-delay: 0.4s;
  }
  #container .con01_txt {
    margin-left: 30px;
  }
  #container .con01_txt h2 {
    font-size: 1.2rem;
    color: blueviolet;
    margin-bottom: 20px;
  }
  #container .con01_txt h3 {
    font-size: 1.5rem;
    color: #000;
    line-height: 35px;
  }
  #container #con01 p:nth-of-type(1) {
    margin: 10px 0px;
  }
  #container #con01 p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0px;
  }
  #container #con01 p:nth-of-type(3) {
    color: grey;
  }
  #container #con01 li :hover .club01 {
    color: tomato;
  }
  #container #con01 li :hover .club02 {
    color: green;
  }
  #container #con01 i {
    position: absolute;
    bottom: 100px;
    right: 40px;

    transform: scaleX(1);
    transform-origin: left center; /*왼쪽을 고정*/
    transition: 1s;
  }

  #container #con01 li:hover i {
    transform: scaleX(1.5); /*가로길이를 1.5배*/
  }
  /*#container #con02*/
  #container #con02 {
    font-size: 2rem;
    color: #fff;
    margin: 40px 0px;
  }
  #container #con02 .bg {
    height: 400px;
    background-image: url(../img/img_sector2_datacounter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 50px 0px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.6s;
  }
  #container #con02.on .bg {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02 .bg li:nth-of-type(1) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
  }
  #container #con02 .bg li:nth-of-type(2) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 2s;
  }
  #container #con02 .bg li:nth-of-type(3) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 3s;
  }
  #container #con02.on .bg li:nth-of-type(1) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .bg li:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .bg li:nth-of-type(3) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container .con02_txt {
    margin-left: 30px;
  }
  #container .con02_txt h2 {
    font-size: 1.2rem;
    color: blueviolet;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
  }
  #container .con02_txt h3 {
    font-size: 1.5rem;
    color: #000;
    line-height: 45px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
  }

  #container #con02.on .con02_txt h2 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .con02_txt h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02 ul {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #container #con02 ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
  }
  #container #con02 ul p:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 80px;
  }
  #container #con02 ul p:nth-of-type(2) {
    margin-top: 10px;
  }
  #container #con02 ul p:nth-of-type(2) span {
    font-size: 4rem;
    font-weight: bold;
  }
  /*#container #con03*/
  #container .con03_txt {
    margin-left: 30px;
  }
  #container .con03_txt h2 {
    font-size: 1.2rem;
    color: blueviolet;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
  }
  #container .con03_txt h3 {
    font-size: 1.5rem;
    color: #000;
    line-height: 35px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
  }
  #container #con03 .txt02:nth-of-type(1) {
    text-align: right;
  }
  #container #con03 .txt02 p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
  }
  #container #con03 .txt02 p:nth-of-type(3) {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #container #con03.on .con03_txt h2 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03.on .con03_txt h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 ul {
    width: 100%;
    margin: 0px auto;
  }
  #container #con03 ul li {
    width: 90%;
    /* display: flex; */
    /* justify-content: center; */
    margin: 30px auto;

    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    position: relative;
  }
  #container #con03 ul li:nth-of-type(1) {
    height: 650px;
  }

  #container #con03 ul li:nth-of-type(3) {
    height: 700px;
  }
  #container #con03.on ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 ul li:nth-of-type(1) {
    transition-delay: 0.6s;
  }

  #container #con03 ul li:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  #container #con03 ul li:nth-of-type(3) {
    transition-delay: 1s;
  }
  #container #con03 ul li a {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; */
  }

  #container #con03 ul li .txt02 p {
    width: 100%;
  }
  #container #con03 .pic {
    border-radius: 30px;
    overflow: hidden;
  }
  #container #con03 ul li:nth-of-type(1) .txt02 {
    position: absolute;
    right: 20px;
    bottom: 0px;
    z-index: 2;
  }

  #container #con03 ul li:nth-of-type(3) .txt02 {
    position: absolute;
    right: 20px;
    bottom: 0px;
    z-index: 2;
  }

  #container #con03 .pic img {
    transform: scale(1);
    transition: 1s;
  }
  #container #con03 .pic img.on {
    transform: scale(1.2);
  }
  #container #con03 i {
    margin: 30px 0px;
    transform: scaleX(1);
    transform-origin: left center; /*왼쪽을 고정*/
    transition: 1s;
  }
  #container #con03 li:hover i {
    transform: scaleX(1.5); /*가로길이를 1.5배*/
  }
  #container #con03 li:nth-of-type(1) :hover .txt02 p:nth-of-type(1) {
    color: tomato;
  }
  #container #con03 li :hover .txt02 .phi {
    color: green;
  }
  #container #con03 li:nth-of-type(2) .phi {
    margin-top: 30px;
  }
  #container #con03 .btn {
    display: flex;
    margin-left: 35px;
    gap: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1.2s;
  }
  #container #con03.on .btn {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 .btn p {
    width: 160px;
    height: 50px;
    line-height: 50px;
    border: 1px solid grey;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
  }
  #container #con03 .btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #container #con03 .btn p:nth-of-type(1):hover {
    background-color: tomato;
    color: #fff;
    border: none;
  }
  #container #con03 .btn p:nth-of-type(2):hover {
    background-color: green;
    color: #fff;
    border: none;
  }
  /*#container #con04*/
  #container #con04 {
    width: 100%;
    margin: 50px auto;
  }
  #container #con04 img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;

    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con04.on img {
    transform: translateY(0px);
    opacity: 1;
  }
  /*#container #con05*/
  #container #con05 {
    width: 90%;
    margin: 30px auto;
    text-align: center;
  }
  #container #con05 .list {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.4s;
  }
  #container #con05.on .list {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05 .ul01 {
    width: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 20px;
    color: grey;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  #container #con05 .more {
    color: grey;
    font-size: 0.8rem;
  }
  #container #con05 .all {
    position: relative;
  }
  #container #con05 .ul03,
  #container #con05 .ul04 {
    display: none;
  }

  #container #con05 .ul02 li:nth-of-type(1) {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.6s;
  }
  #container #con05 .ul02 li:nth-of-type(2) {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s;
  }
  #container #con05 .ul02 li:nth-of-type(3) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con05.on .ul02 li:nth-of-type(1) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05.on .ul02 li:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05.on .ul02 li:nth-of-type(3) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05 .ul02,
  #container #con05 .ul03,
  #container #con05 .ul04 {
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  #container #con05 .ul02 li,
  #container #con05 .ul03 li,
  #container #con05 .ul04 li {
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #container #con05 .ul02 li:hover,
  #container #con05 .ul03 li:hover,
  #container #con05 .ul04 li:hover {
    color: #8b4de8;
    border-color: #8b4de8;
  }
  #container #con05 .ul02 li a,
  #container #con05 .ul03 li a,
  #container #con05 .ul04 li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #container #con05 .ul02 li a div,
  #container #con05 .ul03 li a div,
  #container #con05 .ul04 li a div {
    text-align: left;
  }

  #container #con05 .ul02 li a div p:first-child,
  #container #con05 .ul03 li a div p:first-child,
  #container #con05 .ul04 li a div p:first-child {
    color: #8b4de8;
    margin-bottom: 10px;
  }

  #container #con05 .ul02 li a div p:last-child,
  #container #con05 .ul03 li a div p:last-child,
  #container #con05 .ul04 li a div p:last-child {
    font-weight: bold;
  }
  /*footer*/
  footer {
    width: 100%;
    margin-top: 400px;
    background-color: #444;
    font-size: 1rem;
    padding: 20px;
  }
  footer .all {
    width: 70%;

    justify-content: center;
    align-items: center;
  }
  footer img {
    width: 30%;
  }
  footer .left p:nth-of-type(1) {
    color: #fff;
    margin: 20px 0px;
  }
  footer .left p {
    color: gray;
  }
  footer .right ul {
    display: flex;
    gap: 10px;
    color: #fff;
    margin-top: 60px;
  }
  footer .number {
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 30px 0px 10px 0px;
  }
  footer .number a {
    display: block;
    width: 100%;
    height: 100%;
  }
  footer .right p {
    color: gray;
    font-size: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  /*header*/
  header {
    width: 100%;
    background-color: transparent;
    position: relative;
    position: fixed;
    z-index: 10;
  }
  header .pcmenu_f {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #fff;
  }
  header .pcmenu_f ul {
    width: 40%;
    display: flex;
    gap: 10px;
    color: #fff;
  }
  header .pcmenu_f li {
    width: calc(100% / 4);
    font-weight: bold;
  }
  header .bar {
    width: 100px;
    height: 100px;
    position: relative;
  }

  /* 두 박스 겹치기 */
  header .bar .f_bar,
  header .bar .b_bar {
    width: 100px;
    height: 100px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: blueviolet;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* f_bar가 항상 위에 있도록 */
  header .bar .f_bar {
    z-index: 2;
  }

  header .bar .b_bar {
    z-index: 1;
  }

  /* 아이콘 애니메이션 */
  header .bar i {
    color: #fff;
    transition:
      transform 0.4s ease,
      opacity 0.4s ease;
  }

  /* =====================
   처음 상태
===================== */

  /* ☰ */
  header .bar .f_bar i {
    opacity: 1;
    transform: rotate(0deg);
  }

  /* X */
  header .bar .b_bar i {
    opacity: 0;
    transform: rotate(-90deg);
  }

  /* =====================
   header에 마우스를 올림
===================== */

  /* f_bar를 뒤로 */
  header.on .bar .f_bar {
    z-index: 1;
  }

  /* ☰ 사라지면서 회전 */
  header.on .bar .f_bar i {
    opacity: 0;
    transform: rotate(90deg);
  }

  /* b_bar를 앞으로 */
  header.on .bar .b_bar {
    z-index: 2;
  }

  /* X 나타나면서 회전 */
  header.on .bar .b_bar i {
    opacity: 1;
    transform: rotate(0deg);
  }

  /*ul이 아닌 부모자체에 position*/
  header .pcmenu_b {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
  }
  header .pcmenu_b ul {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
  }
  header .pcmenu_b li {
    width: 15%;
    font-weight: bold;
  }
  header .pcmenu_b li p {
    margin-bottom: 20px;
  }
  header .momenu_f {
    display: none;
  }
  header .momenu_b {
    display: none;
  }
  /*#visual*/
  #visual {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #visual .v_txt {
    position: absolute;
    left: 10%;
    bottom: 20%;
  }
  #visual .v_txt h2 {
    font-size: 50px;
    color: blueviolet;
    margin-bottom: 20px;
  }
  #visual .v_txt p {
    font-size: 20px;
    color: #fff;
    line-height: 35px;
  }
  /*#container #con01*/
  #container #con01 {
    width: 100%;
    margin: 30px 0;
  }
  #container #con01 ul {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
  }
  #container #con01 ul li {
    width: 45%;
  }
  #container #con01 ul li {
    width: calc(100% / 2);
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con01 ul li img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  #container #con01.on ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con01 ul li:nth-of-type(1) {
    transition-delay: 0.2s;
  }

  #container #con01 ul li:nth-of-type(2) {
    transition-delay: 0.4s;
  }
  #container .con01_txt {
    margin-left: 120px;
  }
  #container .con01_txt h2 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
  }
  #container .con01_txt h3 {
    font-size: 35px;
    color: #000;
    line-height: 45px;
  }
  #container #con01 p:nth-of-type(1) {
    margin: 10px 0px;
  }
  #container #con01 p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
  }
  #container #con01 p:nth-of-type(3) {
    color: grey;
  }
  #container #con01 li :hover .club01 {
    color: tomato;
  }
  #container #con01 li :hover .club02 {
    color: green;
  }
  #container #con01 i {
    position: absolute;
    bottom: 125px;
    right: 40px;

    transform: scaleX(1);
    transform-origin: left center; /*왼쪽을 고정*/
    transition: 1s;
  }

  #container #con01 li:hover i {
    transform: scaleX(1.5); /*가로길이를 1.5배*/
  }
  /*#container #con02*/
  #container #con02 {
    font-size: 30px;
    color: #fff;
    margin: 40px 0px;
  }
  #container #con02 .bg {
    height: 400px;
    background-image: url(../img/img_sector2_datacounter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 50px 0px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.6s;
  }
  #container #con02.on .bg {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02 .bg li:nth-of-type(1) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.8s;
  }
  #container #con02 .bg li:nth-of-type(2) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1.8s;
  }
  #container #con02 .bg li:nth-of-type(3) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 2.8s;
  }
  #container #con02.on .bg li:nth-of-type(1) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .bg li:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .bg li:nth-of-type(3) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container .con02_txt {
    margin-left: 100px;
  }
  #container .con02_txt h2 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
  }
  #container .con02_txt h3 {
    font-size: 35px;
    color: #000;
    line-height: 45px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
  }

  #container #con02.on .con02_txt h2 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .con02_txt h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02 ul {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #container #con02 ul p:nth-of-type(2) {
    margin-top: 50px;
  }
  #container #con02 ul p:nth-of-type(2) span {
    font-size: 100px;
    font-weight: bold;
  }
  /*#container #con03*/
  #container .con03_txt {
    margin-left: 200px;
  }
  #container .con03_txt h2 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
  }
  #container .con03_txt h3 {
    font-size: 35px;
    color: #000;
    line-height: 45px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
  }
  #container #con03 .txt02:nth-of-type(1) {
    text-align: right;
  }
  #container #con03 .txt02 p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }
  #container #con03 .txt02 p:nth-of-type(3) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #container #con03.on .con03_txt h2 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03.on .con03_txt h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 ul {
    width: 100%;
    margin: 0px auto;
  }
  #container #con03 ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto;

    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con03.on ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 ul li:nth-of-type(1) {
    transition-delay: 0.6s;
  }

  #container #con03 ul li:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  #container #con03 ul li:nth-of-type(3) {
    transition-delay: 1s;
  }
  #container #con03 ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
  }
  #container #con03 ul li .txt02 p {
    width: 100%;
  }
  #container #con03 .pic {
    border-radius: 30px;
    overflow: hidden;
  }
  #container #con03 .pic img {
    transform: scale(1);
    transition: 1s;
  }
  #container #con03 .pic img.on {
    transform: scale(1.2);
  }
  #container #con03 i {
    margin: 30px 0px;
    transform: scaleX(1);
    transform-origin: left center; /*왼쪽을 고정*/
    transition: 1s;
  }
  #container #con03 li:hover i {
    transform: scaleX(1.5); /*가로길이를 1.5배*/
  }
  #container #con03 li:nth-of-type(1) :hover .txt02 p:nth-of-type(1) {
    color: tomato;
  }
  #container #con03 li :hover .txt02 .phi {
    color: green;
  }
  #container #con03 .btn {
    display: flex;
    margin-left: 50px;
    gap: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1.2s;
  }
  #container #con03.on .btn {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 .btn p {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid grey;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #container #con03 .btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #container #con03 .btn p:nth-of-type(1):hover {
    background-color: tomato;
    color: #fff;
    border: none;
  }
  #container #con03 .btn p:nth-of-type(2):hover {
    background-color: green;
    color: #fff;
    border: none;
  }
  /*#container #con04*/
  #container #con04 {
    width: 100%;
    margin: 50px auto;
  }
  #container #con04 img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con04.on img {
    transform: translateY(0px);
    opacity: 1;
  }
  /*#container #con05*/
  #container #con05 {
    width: 80%;
    margin: 30px auto;
    text-align: center;
  }
  #container #con05 .list {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.4s;
  }
  #container #con05.on .list {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05 .ul01 {
    width: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 20px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  #container #con05 .more {
    color: grey;
    font-size: 15px;
  }
  #container #con05 .all {
    position: relative;
  }
  #container #con05 .ul03,
  #container #con05 .ul04 {
    display: none;
  }

  #container #con05 .ul02 li:nth-of-type(1) {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.6s;
  }
  #container #con05 .ul02 li:nth-of-type(2) {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s;
  }
  #container #con05 .ul02 li:nth-of-type(3) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con05.on .ul02 li:nth-of-type(1) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05.on .ul02 li:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05.on .ul02 li:nth-of-type(3) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05 .ul02,
  #container #con05 .ul03,
  #container #con05 .ul04 {
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  #container #con05 .ul02 li,
  #container #con05 .ul03 li,
  #container #con05 .ul04 li {
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #container #con05 .ul02 li:hover,
  #container #con05 .ul03 li:hover,
  #container #con05 .ul04 li:hover {
    color: #8b4de8;
    border-color: #8b4de8;
  }
  #container #con05 .ul02 li a,
  #container #con05 .ul03 li a,
  #container #con05 .ul04 li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #container #con05 .ul02 li a div,
  #container #con05 .ul03 li a div,
  #container #con05 .ul04 li a div {
    text-align: left;
  }

  #container #con05 .ul02 li a div p:first-child,
  #container #con05 .ul03 li a div p:first-child,
  #container #con05 .ul04 li a div p:first-child {
    color: #8b4de8;
    margin-bottom: 10px;
  }

  #container #con05 .ul02 li a div p:last-child,
  #container #con05 .ul03 li a div p:last-child,
  #container #con05 .ul04 li a div p:last-child {
    font-weight: bold;
  }
  /*footer*/
  footer {
    width: 100%;
    margin-top: 500px;
    background-color: #444;
    font-size: 13px;
    padding: 20px;
  }
  footer .all {
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  footer .left {
    width: 35%;
  }
  footer .left p:nth-of-type(1) {
    color: #fff;
    margin: 20px 0px;
  }
  footer .left p {
    color: gray;
  }
  footer .right ul {
    display: flex;
    gap: 10px;
    color: #fff;
    margin-top: 60px;
  }
  footer .number {
    width: 180px;
    height: 50px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 30px 0px 10px 0px;
  }
  footer .number a {
    display: block;
    width: 100%;
    height: 100%;
  }
  footer .right p {
    color: gray;
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  /*header*/
  header {
    width: 100%;
    background-color: transparent;
    position: relative;
    position: fixed;
    z-index: 10;
  }
  header .pcmenu_f {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #fff;
  }
  header .pcmenu_f ul {
    width: 40%;
    display: flex;
    gap: 10px;
    color: #fff;
  }
  header .pcmenu_f li {
    width: calc(100% / 4);
    font-weight: bold;
  }
  header .bar {
    width: 100px;
    height: 100px;
    position: relative;
  }

  /* 두 박스 겹치기 */
  header .bar .f_bar,
  header .bar .b_bar {
    width: 100px;
    height: 100px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: blueviolet;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* f_bar가 항상 위에 있도록 */
  header .bar .f_bar {
    z-index: 2;
  }

  header .bar .b_bar {
    z-index: 1;
  }

  /* 아이콘 애니메이션 */
  header .bar i {
    color: #fff;
    transition:
      transform 0.4s ease,
      opacity 0.4s ease;
  }

  /* =====================
   처음 상태
===================== */

  /* ☰ */
  header .bar .f_bar i {
    opacity: 1;
    transform: rotate(0deg);
  }

  /* X */
  header .bar .b_bar i {
    opacity: 0;
    transform: rotate(-90deg);
  }

  /* =====================
   header에 마우스를 올림
===================== */

  /* f_bar를 뒤로 */
  header.on .bar .f_bar {
    z-index: 1;
  }

  /* ☰ 사라지면서 회전 */
  header.on .bar .f_bar i {
    opacity: 0;
    transform: rotate(90deg);
  }

  /* b_bar를 앞으로 */
  header.on .bar .b_bar {
    z-index: 2;
  }

  /* X 나타나면서 회전 */
  header.on .bar .b_bar i {
    opacity: 1;
    transform: rotate(0deg);
  }

  /*ul이 아닌 부모자체에 position*/
  header .pcmenu_b {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
  }
  header .pcmenu_b ul {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
  }
  header .pcmenu_b li {
    width: 10%;
    font-weight: bold;
  }
  header .pcmenu_b li p {
    margin-bottom: 20px;
  }
  header .momenu_f {
    display: none;
  }
  header .momenu_b {
    display: none;
  }
  /*#visual*/
  #visual {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #visual .v_txt {
    position: absolute;
    left: 10%;
    bottom: 20%;
  }
  #visual .v_txt h2 {
    font-size: 50px;
    color: blueviolet;
    margin-bottom: 20px;
  }
  #visual .v_txt p {
    font-size: 20px;
    color: #fff;
    line-height: 35px;
  }
  /*#container #con01*/
  #container #con01 {
    width: 80%;
    margin: 20px auto;
    padding: 30px;
  }
  #container #con01 ul {
    width: 80%;
    display: flex;
    gap: 10px;
    margin: 20px auto;
  }
  #container #con01 ul li {
    width: calc(100% / 2);
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con01 ul li img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  #container #con01.on ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con01 ul li:nth-of-type(1) {
    transition-delay: 0.2s;
  }

  #container #con01 ul li:nth-of-type(2) {
    transition-delay: 0.4s;
  }
  #container .con01_txt {
    margin-left: 150px;
  }
  #container .con01_txt h2 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
  }
  #container .con01_txt h3 {
    font-size: 35px;
    color: #000;
    line-height: 45px;
  }
  #container #con01 p:nth-of-type(1) {
    margin: 10px 0px;
  }
  #container #con01 p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
  }
  #container #con01 p:nth-of-type(3) {
    color: grey;
  }
  #container #con01 li :hover .club01 {
    color: tomato;
  }
  #container #con01 li :hover .club02 {
    color: green;
  }
  #container #con01 i {
    position: absolute;
    bottom: 125px;
    right: 40px;

    transform: scaleX(1);
    transform-origin: left center; /*왼쪽을 고정*/
    transition: 1s;
  }

  #container #con01 li:hover i {
    transform: scaleX(1.5); /*가로길이를 1.5배*/
  }
  /*#container #con02*/
  #container #con02 {
    font-size: 30px;
    color: #fff;
    margin: 20px 0px;
  }
  #container #con02 .bg {
    height: 400px;
    background-image: url(../img/img_sector2_datacounter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: relative;
    margin: 50px 0px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.6s;
  }
  #container #con02.on .bg {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02 .bg li:nth-of-type(1) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.8s;
  }
  #container #con02 .bg li:nth-of-type(2) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1.8s;
  }
  #container #con02 .bg li:nth-of-type(3) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 2.8s;
  }
  #container #con02.on .bg li:nth-of-type(1) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .bg li:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .bg li:nth-of-type(3) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container .con02_txt {
    margin-left: 360px;
  }
  #container .con02_txt h2 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
  }
  #container .con02_txt h3 {
    font-size: 35px;
    color: #000;
    line-height: 45px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
  }

  #container #con02.on .con02_txt h2 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02.on .con02_txt h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con02 ul {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #container #con02 ul p:nth-of-type(2) {
    margin-top: 50px;
  }
  #container #con02 ul p:nth-of-type(2) span {
    font-size: 100px;
    font-weight: bold;
  }
  /*#container #con03*/
  #container .con03_txt {
    margin-left: 360px;
  }
  #container .con03_txt h2 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
  }
  #container .con03_txt h3 {
    font-size: 35px;
    color: #000;
    line-height: 45px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.4s;
  }
  #container #con03 .txt02:nth-of-type(1) {
    text-align: right;
  }
  #container #con03 .txt02 p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }
  #container #con03 .txt02 p:nth-of-type(3) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #container #con03.on .con03_txt h2 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03.on .con03_txt h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 ul {
    width: 100%;
    margin: 0px auto;
  }
  #container #con03 ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto;

    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con03.on ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 ul li:nth-of-type(1) {
    transition-delay: 0.6s;
  }

  #container #con03 ul li:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  #container #con03 ul li:nth-of-type(3) {
    transition-delay: 1s;
  }
  #container #con03 ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
  }

  #container #con03 .txt02:nth-of-type(1) {
    text-align: right;
  }
  #container #con03 ul li .txt02 p {
    width: 100%;
  }
  #container #con03 .pic {
    border-radius: 30px;
    overflow: hidden;
  }
  #container #con03 .pic img {
    transform: scale(1);
    transition: 1s;
  }
  #container #con03 .pic img.on {
    transform: scale(1.2);
  }
  #container #con03 i {
    margin: 30px 0px;
    transform: scaleX(1);
    transform-origin: left center; /*왼쪽을 고정*/
    transition: 1s;
  }
  #container #con03 li:hover i {
    transform: scaleX(1.5); /*가로길이를 1.5배*/
  }
  #container #con03 li:nth-of-type(1) :hover .txt02 p:nth-of-type(1) {
    color: tomato;
  }
  #container #con03 li :hover .txt02 .phi {
    color: green;
  }
  #container #con03 .btn {
    display: flex;
    margin-left: 500px;
    gap: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1.2s;
  }
  #container #con03.on .btn {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con03 .btn p {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid grey;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #container #con03 .btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #container #con03 .btn p:nth-of-type(1):hover {
    background-color: tomato;
    color: #fff;
    border: none;
  }
  #container #con03 .btn p:nth-of-type(2):hover {
    background-color: green;
    color: #fff;
    border: none;
  }
  /*#container #con04*/
  #container #con04 {
    width: 100%;
    margin: 50px auto;
  }
  #container #con04 img {
    display: block;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;

    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con04.on img {
    transform: translateY(0px);
    opacity: 1;
  }
  /*#container #con05*/
  #container #con05 {
    width: 50%;
    margin: 30px auto;
    text-align: center;
  }
  #container #con05 .list {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.4s;
  }
  #container #con05.on .list {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05 .ul01 {
    width: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 20px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  #container #con05 .more {
    color: grey;
    font-size: 15px;
  }
  #container #con05 .all {
    position: relative;
  }
  #container #con05 .ul03,
  #container #con05 .ul04 {
    display: none;
  }

  #container #con05 .ul02 li:nth-of-type(1) {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.6s;
  }
  #container #con05 .ul02 li:nth-of-type(2) {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s;
  }
  #container #con05 .ul02 li:nth-of-type(3) {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  #container #con05.on .ul02 li:nth-of-type(1) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05.on .ul02 li:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05.on .ul02 li:nth-of-type(3) {
    transform: translateY(0px);
    opacity: 1;
  }
  #container #con05 .ul02,
  #container #con05 .ul03,
  #container #con05 .ul04 {
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  #container #con05 .ul02 li,
  #container #con05 .ul03 li,
  #container #con05 .ul04 li {
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #container #con05 .ul02 li:hover,
  #container #con05 .ul03 li:hover,
  #container #con05 .ul04 li:hover {
    color: #8b4de8;
    border-color: #8b4de8;
  }
  #container #con05 .ul02 li a,
  #container #con05 .ul03 li a,
  #container #con05 .ul04 li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #container #con05 .ul02 li a div,
  #container #con05 .ul03 li a div,
  #container #con05 .ul04 li a div {
    text-align: left;
  }

  #container #con05 .ul02 li a div p:first-child,
  #container #con05 .ul03 li a div p:first-child,
  #container #con05 .ul04 li a div p:first-child {
    color: #8b4de8;
    margin-bottom: 10px;
  }

  #container #con05 .ul02 li a div p:last-child,
  #container #con05 .ul03 li a div p:last-child,
  #container #con05 .ul04 li a div p:last-child {
    font-weight: bold;
  }
  /*footer*/
  footer {
    width: 100%;
    margin-top: 500px;
    background-color: #444;
    font-size: 13px;
    padding: 20px;
  }
  footer .all {
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  footer .left {
    width: 35%;
  }
  footer .left p:nth-of-type(1) {
    color: #fff;
    margin: 20px 0px;
  }
  footer .left p {
    color: gray;
  }
  footer .right ul {
    display: flex;
    gap: 10px;
    color: #fff;
    margin-top: 60px;
  }
  footer .number {
    width: 180px;
    height: 50px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 30px 0px 10px 0px;
  }
  footer .number a {
    display: block;
    width: 100%;
    height: 100%;
  }
  footer .right p {
    color: gray;
    font-size: 10px;
  }
}
